{
  "extends": ["standard", "prettier"],
  "overrides": [
    {
      "files": ["__tests__/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "semi": [0],
    "space-before-function-paren": [0],
    "prefer-promise-reject-errors": [0],
    "handle-callback-err": [0]
  }
}
